/*Tipografias usadas
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;

PALETA DE COLORES:
#9EAFA7
#F7E0B7
#E2C38B
#DB3A1E
#2E2E22
*/

/*Propiedad dada al html para aplicar efecto smooth
al hacer scroll al navegar en la web*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7E0B7;
}


.navbar-expand-lg .navbar-collapse {
    padding-left: 55%;
}

.navbar-brand {
    margin-left: 15px;
}

/* Estilos de la sección "quiénes somos" */
.quienes_somos {
    padding: 70px 100px 0 100px;
    width: 98.5vw;
}

.quienes_somos .row {
    max-width: 100vw;
}

.quienes_somos .col-md-4 {
    padding: 0 1.5px 0 20px;
}

.quienes_somos .barra {
    height: 40px;
    width: 100%;
    background-color: #DB3A1E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    font-size: 30px;
    color: white;
}

/* Estilos de la sección destacados */
.destacados {
    padding-top: 90px;
}

.destacados .container-fluid {
    padding: 0 100px 0 100px;
}

.card {
    border: none;
}

.card-img-top {
    height: 157px;
}

.card-body {
    background-color: #9EAFA7;
    color: white;
}

/* Estilos de la sección "contacto" */
.contacto {
    padding-top: 80px;
}

.contacto .container-fluid {
    padding: 0 100px 0 100px;
    margin: 0 0 70px 0;
}

#inputMessage {
    height: 200px;
}

/* Estilos del footer */
footer {
    height: 100px;
    background-color: #E2C38B;
    display: flex;
    align-items: center;
    padding: 0 200px 0 200px;
}

footer a {
    color: #2E2E22;
    text-decoration: none;
}

footer a h3:hover {
    color: #DB3A1E;
    cursor: pointer;
}

footer ul li {
    display: inline;
    margin: 0 5px 0 5px;
}

footer .fa-brands {
    font-size: 30px;
    color: #2E2E22;
}

footer .fa-brands:hover {
    color: #DB3A1E;
    cursor: pointer;
}
