/* RECURSOS GRÁFICOS
Tipografias usadas
Para titulos:
font-family: 'Amaranth', sans-serif;

Para otros textos:
font-family: 'Poppins', sans-serif;

PALETA DE COLORES:
#9EAFA7
#fff4df
#E2C38B
#DB3A1E
#2E2E22
*/

/*Propiedad dada al html para aplicar efecto smooth
al hacer scroll al navegar en la web*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff4df;
    font-family: 'Poppins', sans-serif;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 575.98px) {
    .col-lg {
        padding: 0;
    }
}

@media (min-width: 992px) {
    h2 {
        font-family: 'Amaranth', sans-serif;
        text-align: right;
        padding-top: 80px;
        margin-bottom: 40px;
    }

    .row {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Navbar */
/* Estilo especial usado por jQuery al hacer scroll */
.navbar_dark {
  background-color: #2E2E22;
}
/* ------------------------------- */

@media (max-width: 575.98px) {
    .navbar {
      background-color: #2E2E22;
    }
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand span {
    font-size: 16px;
}

@media (min-width: 992px) {
    .navbar {
        width: 100vw;
        position: fixed;
        z-index: 100;
        padding-left: 100px;
        padding-right: 100px;
    }

    .navbar-brand span {
        font-size: 18px;
    }
}

/* Carrusel de imágenes */
#carouselExampleIndicators {
    height: 100vh;
}

#carouselExampleIndicators .carousel-item {
    height: 100vh;
    overflow: hidden;
}

.carousel img {
    height: 100vh;
    width: auto;
}

@media (max-width: 575.98px) {
    .carousel img {
        margin-left: -150px;
    }
}

@media (min-width: 992px) {
    .carousel img {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* ¿QUIÉNES SOMOS? Desaparece en vista mobile */
#quienes_somos {
    margin-bottom: 40px;
}

.quienes_somos_tittle {
    margin-bottom: 60px;
}

.barra_1,
.barra_2,
.barra_3 {
    height: 40px;
    width: auto;
    background-color: #DB3A1E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plane , .mountain , .route {
    padding: 0 13px;
    font-size: 14px;
}

.fa-solid {
    font-size: 30px;
    color: white;
}


/* Destacados */
@media (max-width: 575.98px) {
    #destacados {
        padding-bottom: 20px;
    }

    .destacados_title {
        margin-top: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.card {
    border: none;
    margin-bottom: 50px;
}

.card:hover {
    box-shadow: 5px 5px 10px rgb(122, 122, 122);
    cursor: pointer;
}

.card-img-top {
    height: 200px;
}

.card-body {
    background-color: #9EAFA7;
    color: white;
    height: 150px;
    font-size: 14px;
}

@media (min-width: 992px) {
    .destacados_title {
        margin-bottom: 60px;
    }

    .card-img-top {
        height: 157px;
    }

    .card-body {
        height: 180px;
    }
}


/* Contacto */
@media (max-width: 575.98px) {
    .contacto_title {
        margin-bottom: 20px;
        margin-top: -12px;
    }

    #contacto .btn:active {
        background-color: #2E2E22;
    }
}

#contacto {
    padding-bottom: 40px;
}

input , textarea {
    box-shadow: inset 2px 2px 7px rgb(122, 122, 122);
}

.form-floating>.form-control {
    padding: .375rem .75rem;
}

#contacto .btn {
    background-color: #9EAFA7;
    border: none;
}

#contacto .btn:hover {
    background-color: #2E2E22;
}


/* Footer */
footer {
    height: 80px;
    background-color: #E2C38B;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

footer a {
    color: #2E2E22;
    text-decoration: none;
}

.logo_footer {
    font-size: 1.75rem;
    font-weight: bold;
}

.logo_footer:hover {
    color: #DB3A1E;
    cursor: pointer;
}

footer ul li {
    display: inline;
    margin: 0 5px 0 5px;
}

footer .fa-brands {
    font-size: 30px;
    color: #2E2E22;
}

footer .fa-brands:hover {
    color: #DB3A1E;
    cursor: pointer;
}

@media (min-width: 992px) {
    footer {
        height: 80px;
        background-color: #E2C38B;
        display: flex;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    .logo_footer {
        font-size: 1.75rem;
        font-weight: bold;
    }

    .logo_footer:hover {
        color: #DB3A1E;
        cursor: pointer;
    }

    footer ul li {
        display: inline;
        margin: 0 5px 0 5px;
    }

    footer .fa-brands {
        font-size: 30px;
        color: #2E2E22;
    }

    footer .fa-brands:hover {
        color: #DB3A1E;
        cursor: pointer;
    }
}
